/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: '"Poppins";');
@include mat-core($custom-typography);
