<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggle(drawer)"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a class="logo" href="/pages/dashboard"><span>Vault</span></a>

  <span class="fill-remaining-space"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <ng-content select="mat-nav-list"></ng-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content select="router-outlet"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
