.sidenav-container {
  height: calc(100% - 50px);
}

.sidenav {
  // width: 200px;
  width: auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 10;
  // z-index: 1;
}

.logo {
  padding: 0 1.25rem;
  font-size: 1.75rem;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fill-remaining-space {
  flex: 1 1 auto;
}
