.add-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: auto;
}

.full-width {
  width: 60%;
  margin: 0px auto;
}

mat-slider {
  width: 100%;
}

.filter-input {
  width: 90%;
}

.filter-slider {
  width: 95%;
}

.filter-button {
  width: 100%;
}

.filter-row {
  background-color: rgb(250, 250, 250);
}

.input-width {
  width: 90%;
}

.action-width {
  width: 50%;
}

.reset-button {
  width: 20%;
}

// td {
//   border: 1px solid #006;
// }
