<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<div class="add-card">
  <mat-card *ngIf="!isGraphed">
    <mat-card-header>
      <mat-icon mat-card-avatar>pie_chart</mat-icon>
      <mat-card-title>Configure Graph</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="full-width" cellspacing="0">
        <tr>
          <td width="50%" align="center">
            <mat-form-field class="input-width">
              <mat-label>X-Axis</mat-label>
              <mat-select [(value)]="selectedX">
                <mat-option value="X">X Coordinates</mat-option>
                <mat-option value="Y" [disabled]>Y Coordinates</mat-option>
                <mat-option value="Stroke">Stroke</mat-option>
                <mat-option value="Time">Time</mat-option>
                <mat-option value="Pressure">Pressure</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td width="50%" align="center">
            <mat-form-field class="input-width">
              <mat-label>Colour</mat-label>
              <mat-select [(value)]="selectedC">
                <mat-option value="X">X Coordinates</mat-option>
                <mat-option value="Y" [disabled]>Y Coordinates</mat-option>
                <mat-option value="Stroke">Stroke</mat-option>
                <mat-option value="Time">Time</mat-option>
                <mat-option value="Pressure">Pressure</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td width="50%" align="center">
            <mat-form-field class="input-width">
              <mat-label>Y-Axis</mat-label>
              <mat-select [(value)]="selectedY">
                <mat-option value="X">X Coordinates</mat-option>
                <mat-option value="Y" [disabled]>Y Coordinates</mat-option>
                <mat-option value="Stroke">Stroke</mat-option>
                <mat-option value="Time">Time</mat-option>
                <mat-option value="Pressure">Pressure</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td width="50%" align="center">
            <mat-form-field class="input-width">
              <mat-label>Size</mat-label>
              <mat-select [(value)]="selectedS">
                <mat-option value="X">X Coordinates</mat-option>
                <mat-option value="Y" [disabled]>Y Coordinates</mat-option>
                <mat-option value="Stroke">Stroke</mat-option>
                <mat-option value="Time">Time</mat-option>
                <mat-option value="Pressure">Pressure</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td width="50%" align="center">
            <mat-form-field class="input-width">
              <mat-label>Z-Axis</mat-label>
              <mat-select [(value)]="selectedZ">
                <mat-option value="X">X Coordinates</mat-option>
                <mat-option value="Y" [disabled]>Y Coordinates</mat-option>
                <mat-option value="Stroke">Stroke</mat-option>
                <mat-option value="Time">Time</mat-option>
                <mat-option value="Pressure">Pressure</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td width="50%" align="center"></td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <table class="full-width" cellspacing="0">
        <tr>
          <td width="50%" align="right">
            <button
              mat-raised-button
              color="accent"
              class="action-width"
              (click)="defaultInput()"
            >
              Default
            </button>
          </td>
          <td width="50%" align="left">
            <button
              mat-raised-button
              color="primary"
              class="action-width"
              (click)="submitInput()"
            >
              Submit
            </button>
          </td>
        </tr>
      </table>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="isGraphed">
    <mat-card-header>
      <mat-icon mat-card-avatar>directions_run</mat-icon>
      <mat-card-title>Activity Graph</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="!visible" style="margin-bottom: 20;">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
      </div>
      <div id="graph" width=100%></div>
    </mat-card-content>

    <mat-card-actions style="text-align: center;" *ngIf="visible">
      <!-- <mat-card class="filter-row" *ngIf="visible"> -->
        <table class="full-width" cellspacing="0" style="margin-bottom: 15px;">
          <tr>
            <td width="20%">
              <mat-form-field class="filter-input">
                <input
                  matInput
                  type="number"
                  placeholder="Filter X Axis"
                  [(ngModel)]="valueX"
                />
              </mat-form-field>
            </td>
            <td width="65%">
              <mat-slider
                thumbLabel
                [displayWith]="formatLabelX"
                [(ngModel)]="valueX"
                tickInterval="1"
                min="1"
                max="{{ maxX }}"
                class="filter-slider"
              ></mat-slider>
            </td>
            <td width="15%">
              <button
                mat-raised-button
                color="primary"
                (click)="changeGraphX()"
                class="filter-button"
              >
                Filter
              </button>
            </td>
          </tr>

          <tr>
            <td width="20%">
              <mat-form-field class="filter-input">
                <input
                  matInput
                  type="number"
                  placeholder="Filter Y Axis"
                  [(ngModel)]="valueY"
                />
              </mat-form-field>
            </td>
            <td width="65%">
              <mat-slider
                thumbLabel
                [displayWith]="formatLabelY"
                [(ngModel)]="valueY"
                tickInterval="1"
                min="1"
                max="{{ maxY }}"
                class="filter-slider"
              ></mat-slider>
            </td>
            <td width="15%">
              <button
                mat-raised-button
                color="primary"
                (click)="changeGraphY()"
                class="filter-button"
              >
                Filter
              </button>
            </td>
          </tr>

          <tr>
            <td width="20%">
              <mat-form-field class="filter-input">
                <input
                  matInput
                  type="number"
                  placeholder="Filter Z Axis"
                  [(ngModel)]="valueZ"
                />
              </mat-form-field>
            </td>
            <td width="65%">
              <!-- <span>Stroke:&nbsp;&nbsp;</span> -->
              <mat-slider
                thumbLabel
                [displayWith]="formatLabelZ"
                [(ngModel)]="valueZ"
                tickInterval="1"
                min="1"
                max="{{ maxZ }}"
                class="filter-slider"
              ></mat-slider>
            </td>
            <td width="15%">
              <button
                mat-raised-button
                color="primary"
                (click)="changeGraphZ()"
                class="filter-button"
              >
                Filter
              </button>
            </td>
          </tr>
        </table>

        <table class="full-width" cellspacing="0">
          <tr>
            <td width="20%" align="center">
              <button
                mat-raised-button
                color="warn"
                (click)="resetInput()"
                class="reset-button"
              >
                Reset
              </button>
            </td>
          </tr>
        </table>
      <!-- </mat-card> -->
    </mat-card-actions>
  </mat-card>
</div>
