<app-nav>
  <mat-nav-list>
    <a routerLink="{{ link.link }}" *ngFor="let link of menu">
      <mat-list-item [routerLinkActive]="['is-active']">
        <a matLine *ngIf="isExpanded" style="padding-right:30px">
          <span>{{ link.title }}</span>
        </a>
        <mat-icon>{{ link.icon }}</mat-icon>
        <mat-divider></mat-divider>
      </mat-list-item>
    </a>

    <mat-list-item dir="rtl" (click)="onClick()" class="bottomStick">
      <mat-icon *ngIf="!isExpanded">keyboard_arrow_right</mat-icon>
      <mat-icon *ngIf="isExpanded">keyboard_arrow_left</mat-icon>
      <!-- <mat-icon matListIcon>menu</mat-icon> -->
    </mat-list-item>
  </mat-nav-list>
  <router-outlet></router-outlet>
</app-nav>
