<div class="add-card" *ngIf="patient">
  <!-- <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>account_circle</mat-icon>
      <mat-card-title
        >{{ patient.firstname }}&nbsp;{{ patient.lastname }}</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <span
        >Record Count: <u>{{ recordCount }}</u></span
      >
      <br />
      <span
        >Added On: <u>{{ patient.added | date: "medium" }}</u></span
      >
    </mat-card-content>
  </mat-card> -->

  <mat-card class="patientinfo">
    <mat-card-header>
      <mat-icon mat-card-avatar>account_circle</mat-icon>
      <mat-card-title>Patient Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>{{ patient.firstname }} {{ patient.lastname }}</h2>
      <h5>ID: {{ patient.patientId }}</h5>
      <table class="full-width" cellspacing="0">
        <tr>
          <td width="33.33%" align="center">
            <h3>{{ patient.added | date: "MMM d, y" }}</h3>
            <small>Added</small>
          </td>

          <td width="33.33%" align="center">
            <h3>{{ patient.dob | date: "MMM d, y" }}</h3>
            <small>D.O.B</small>
          </td>

          <td width="33.33%" align="center">
            <h3>{{ recordCount }}</h3>
            <small>Records</small>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>add</mat-icon>
      <mat-card-title>Add Record</mat-card-title>
    </mat-card-header>
    <mat-card-actions style="text-align: center;">
      <table class="input-width" cellspacing="0">
        <tr>
          <td align="center">
            <input type="file" id="file" (change)="onFileSelected($event)" />
            <label for="file">choose a file</label>
          </td>

          <td width="100%" align="center">
            <mat-form-field class="filename" *ngIf="!adding">
              <mat-label *ngIf="selectedFile">{{
                selectedFile.name
              }}</mat-label>
              <mat-label *ngIf="!selectedFile">Filename</mat-label>
              <input matInput disabled />
            </mat-form-field>

            <mat-progress-bar
              class="app-spinner"
              color="accent"
              mode="indeterminate"
              *ngIf="adding"
            >
            </mat-progress-bar>
          </td>

          <td align="center">
            <button
              class="upload-btn"
              mat-flat-button
              color="primary"
              type="submit"
              (click)="addRecord()"
              [disabled]="!allowUpload"
            >
              upload
            </button>
          </td>
        </tr>
      </table>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-content *ngIf="!sortedData.length">
      <mat-accordion>
        <mat-expansion-panel disabled class="sortbar">
          <mat-expansion-panel-header disabled>
            <table matSort class="title-width" cellspacing="0">
              <tr align="center" class="noavail">
                No Uploaded Records
              </tr>
            </table>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-content *ngIf="sortedData.length">
      <mat-form-field class="searchbar" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search" [(ngModel)]="term" />
        <mat-icon matSuffix *ngIf="!term">search</mat-icon>
        <button
          mat-button
          *ngIf="term"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="term = ''"
          style="height:100%;"
        >
          <mat-icon matSuffix>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-accordion>
        <mat-expansion-panel disabled class="sortbar">
          <mat-expansion-panel-header>
            <table
              matSort
              class="title-width"
              cellspacing="0"
              (matSortChange)="sortData($event)"
            >
              <tr>
                <td width="35%">
                  <a mat-sort-header="added" class="sortbutton">Date Added:</a>
                </td>
                <td width="65%">
                  <a mat-sort-header="name" class="sortbutton">Filename:</a>
                </td>
              </tr>
            </table>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel
          hideToggle
          *ngFor="let record of sortedData | filter: term"
          class="recordlist"
        >
          <mat-expansion-panel-header>
            <table class="title-width" cellspacing="0">
              <tr>
                <td width="35%">
                  <mat-panel-title>
                    {{ record.added | date: "medium" }}
                  </mat-panel-title>
                </td>
                <td width="55%">
                  <mat-panel-description>
                    {{ record.name }}
                  </mat-panel-description>
                </td>
                <td width="10%" align="right">
                  <mat-icon *ngIf="record.dementia == null">description</mat-icon>
                  <mat-icon style="color: #8bc34a;" *ngIf="record.dementia == 0"
                    >beenhere</mat-icon
                  >
                  <mat-icon style="color: #ffc107;" *ngIf="record.dementia == 1"
                    >warning</mat-icon
                  >
                </td>
              </tr>
            </table>
          </mat-expansion-panel-header>

          <mat-action-row>
            <!-- <table *ngIf=record.dementia style="color: blueviolet; padding-right: 10%;">
              <tr>
                <td>
                  <h5>Possible signs of Dementia Detected</h5>
                </td>
              </tr>
            </table> -->

            <table>
              <tr>
                <td align="center" width="25%">
                  <a
                    button
                    mat-button
                    (click)="deleteRecord(record)"
                    color="warn"
                    ><mat-icon>close</mat-icon></a
                  >
                </td>
                <td align="center" width="25%">
                  <div>
                    <a
                      button
                      mat-button
                      *ngIf="!anal"
                      (click)="getRecordAnal(record)"
                      style="color: #673ab7 ;"
                      ><mat-icon>perm_scan_wifi</mat-icon></a
                    >
                    <mat-progress-spinner
                      mode="indeterminate"
                      color="accent"
                      diameter="35"
                      *ngIf="anal"
                    >
                    </mat-progress-spinner>
                  </div>
                </td>
                <td align="center" width="25%">
                  <div>
                    <a
                      button
                      mat-button
                      (click)="getRecord(record)"
                      color="primary"
                      *ngIf="!dl"
                      ><mat-icon>cloud_download</mat-icon></a
                    >
                    <mat-progress-spinner
                      mode="indeterminate"
                      color="accent"
                      diameter="35"
                      *ngIf="dl"
                    >
                    </mat-progress-spinner>
                  </div>
                </td>
                <td align="center" width="25%">
                  <a
                    button
                    mat-button
                    (click)="viewRecord(record)"
                    color="primary"
                    ><mat-icon>poll</mat-icon></a
                  >
                </td>
              </tr>
            </table>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
