.patient-accordian {
  position: absolute;
  top: auto;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.add-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

mat-card {
  margin-bottom: 10px;
}

.searchbar {
  width: 100%;
}

.patientinfo {
  text-align: center;
}

.title-width {
  width: 100%;
  // table-layout: fixed;
}

h2 {
  line-height: 30px;
  font-size: 26px;
  font-weight: 550;
  margin: 0;
}

h3 {
  line-height: 30px;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
}

small {
  font-weight: 300;
}

.recordlist {
  background-color: #283593;
  color: white;

  mat-expansion-panel-header {
    background-color: #3f51b5;

    mat-panel-title {
      color: rgba(255, 255, 255, 0.9);
      font-size: 12px;
    }
    mat-panel-description {
      color: white;
    }
  }

  mat-expansion-panel-header.mat-expanded {
    background-color: #283593;
  }

  mat-action-row {
    background-color: rgb(252, 255, 255);
  }
}

.sortbar {
  background-color: rgb(23, 38, 124);
}

.sortbutton {
  width: 100%;
  border-radius: 0em;
  font-weight: 500;
  font-size: medium;
  color: rgb(233, 233, 233);
}

.noavail {
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: 500;
}

// .mat-expansion-panel-header.mat-expanded,
// .mat-expansion-panel-header.mat-expanded:hover {
//   background: red;
// }

// .file_input_div {
//   margin: auto;
//   width: 400px;
//   height: 40px;
// }

// .file_input {
//   float: left;
// }

// #file_input_text_div {
//   width: 300px;
//   margin-top: -8px;
//   margin-left: 5px;
// }

// .none {
//   display: none;
// }

.filename {
  // padding-left: 40px;
  // padding-right: 40px;
  width: 85%;
}

.full-width {
  width: 80%;
  margin: 0px auto;
}

.input-width {
  width: 60%;
  margin: 0px auto;
}

.upload-btn {
  width: 100%;
  min-width: 110px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  outline: none;
  padding: 0.2rem;
  white-space: nowrap;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
  outline: none;
  padding: 0.6rem 40px;
  position: relative;
  transition: all 0.3s;
  white-space: nowrap;

  &:hover {
    background-color: darken(#f15d22, 10%);
  }

  &.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px darken(#f79159, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#f79159, 10%);
      top: 2px;
    }
  }
}

.app-spinner {
  width: 90% !important;
  height: 15px !important;
}

// .mat-action-row {
//   place-content: space-between;
// }

// td {
//   border: 1px solid #006;
// }
