<h2 mat-dialog-title>Confirm</h2>
<mat-dialog-content class="mat-typography">
  <h3>Are you sure you want to delete this patient?</h3>
  <h3>
    NRIC: <font color="blue">{{ data.patient.nric }}</font>
  </h3>
  <h3>
    Name:
    <font color="blue"
      >{{ data.patient.firstname }} {{ data.patient.lastname }}</font
    >
  </h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    (click)="confirmDel()"
    cdkFocusInitial
    color="warn"
  >
    Confirm
  </button>
</mat-dialog-actions>
