<div class="patient-accordian">
  <mat-form-field class="searchbar" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="term" />
    <mat-icon matSuffix *ngIf="!term">search</mat-icon>
    <button
      mat-button
      *ngIf="term"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="term = ''"
      style="height:100%;"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-accordion multi="true">
    <mat-expansion-panel disabled class="sortbar">
      <mat-expansion-panel-header>
        <table
          matSort
          class="title-width"
          cellspacing="0"
          (matSortChange)="sortData($event)"
        >
          <tr>
            <td width="25%">
              <a mat-sort-header="patientId" class="sortbutton">Patient ID:</a>
            </td>
            <td width="25%">
              <a mat-sort-header="nric" class="sortbutton">NRIC:</a>
            </td>
            <td width="50%">
              <a mat-sort-header="firstname" class="sortbutton"
                >Patient Name:</a
              >
            </td>
          </tr>
        </table>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel
      hideToggle
      *ngFor="let patient of sortedData | filter: term"
    >
      <mat-expansion-panel-header>
        <table class="title-width" cellspacing="0">
          <tr>
            <td width="25%">
              <mat-panel-title>
                {{ patient.patientId }}
              </mat-panel-title>
            </td>
            <td width="25%">
              <mat-panel-description>{{ patient.nric }}</mat-panel-description>
            </td>
            <td width="50%">
              <mat-panel-description
                >{{ patient.firstname }}
                {{ patient.lastname }}</mat-panel-description
              >
            </td>
          </tr>
        </table>

        <mat-icon>account_circle</mat-icon>
      </mat-expansion-panel-header>

      <table class="full-width" cellspacing="0">
        <tr>
          <td class="td1">
            <mat-form-field class="input-width">
              <input
                matInput
                placeholder="Date Added"
                value="{{ patient.added | date: 'medium' }}"
                disabled
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="td1">
            <mat-form-field class="input-width">
              <input
                matInput
                placeholder="Gender"
                value="{{ patient.gender }}"
                disabled
              />
            </mat-form-field>
          </td>
          <td class="td1">
            <mat-form-field class="input-width">
              <input
                matInput
                placeholder="D.O.B"
                value="{{ patient.dob | date }}"
                disabled
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-action-row>
        <a (click)="openDialog(patient)" button mat-button color="warn"
          ><mat-icon>close</mat-icon></a
        >
        <a
          routerLink="/pages/update-patient/{{ patient._id['$oid'] }}"
          button
          mat-button
          color="accent"
          ><mat-icon>edit</mat-icon></a
        >
        <a
          routerLink="/pages/patient-records/{{ patient._id['$oid'] }}"
          button
          mat-button
          color="primary"
          ><mat-icon>arrow_forward_ios</mat-icon></a
        >
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
