.patient-accordian {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.full-width {
  width: 80%;
  margin: 0px auto;
}

.input-width {
  width: 100%;
}

.td1 {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
}

.searchbar {
  width: 100%;
}

.title-width {
  width: 100%;
  // table-layout: fixed;
}

// td {
//   border: 1px solid #006;
// }

.sortbutton {
  width: 100%;
  border-radius: 0em;
  font-weight: 500;
  font-size: medium;
  color: rgb(107, 107, 199);
}

.sortbar {
  background-color: rgb(248, 247, 255);
}
