<mat-card class="add-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>add</mat-icon>
    <mat-card-title>Add New Patient</mat-card-title>
    <mat-card-subtitle>Patient Details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="text-align: center;">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="input-width">
            <input
              matInput
              #nric
              maxlength="9"
              type="text"
              placeholder="NRIC"
              [(ngModel)]="patient.nric"
            />
            <mat-hint align="start">{{ nric.value.length }} / 9</mat-hint>
            <button
              mat-button
              [disabled]="patient.nric.length == 0"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="patient.nric = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-width">
            <input
              matInput
              #patientId
              type="text"
              placeholder="Patient ID"
              [(ngModel)]="patient.patientId"
            />
            <button
              mat-button
              [disabled]="patient.patientId.length == 0"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="patient.patientId = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input-width">
            <input
              matInput
              type="text"
              placeholder="First Name"
              [(ngModel)]="patient.firstname"
            />
            <button
              mat-button
              [disabled]="patient.firstname.length == 0"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="patient.firstname = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-width">
            <input
              matInput
              type="text"
              placeholder="Last Name"
              [(ngModel)]="patient.lastname"
            />
            <button
              mat-button
              [disabled]="patient.lastname.length == 0"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="patient.lastname = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input-width">
            <input
              matInput
              [matDatepicker]="dp"
              placeholder="Date of Birth"
              [(ngModel)]="patient.dob"
              disabled
            />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp disabled="false"></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-width">
            <mat-label>Gender</mat-label>
            <mat-select
              [formControl]="genderControl"
              required
              [(ngModel)]="patient.gender"
            >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender">
                {{ gender }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="genderControl.hasError('required')"
              >Please choose a gender</mat-error
            >
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <table class="full-width" cellspacing="0">
      <tr>
        <td width="50%" align="right">
          <button mat-raised-button color="accent" (click)="goBack()" class="action-width">
            Back
          </button>
        </td>
        <td width="50%" align="left">
          <button mat-raised-button color="primary" (click)="save()" class="action-width">
            Save
          </button>
        </td>
      </tr>
    </table>
  </mat-card-actions>
</mat-card>
