<h2 mat-dialog-title>Result</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ data.message.result }}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
</mat-dialog-actions>
