.add-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: auto;
}

.full-width {
  width: 60%;
  margin: 0px auto;
}

.input-width {
  width: 90%;
}

// td {
//   border: 1px solid #006;
//   padding-right: 10px;
//   padding-top: 10px;
// }

button {
  height: 40px;
  width: 100px;
}

.action-width {
  width: 50%;
}
